<div class="row">
  <div class="large-3 medium-3 columns zero">.</div>
  <div class="large-6 medium-6 columns">
    <div class="form">
      <img src="/img/Vpower.png" alt="Vpower" height="30%" width="30%" />
<h4>New Prediction</h4>
<hr/>
<%= render 'form' %>
</div>
<%= link_to 'Back', predictions_path %>
</div>
<div class="large-3 medium-3 columns zero">.</div>
</div>
