<div class="landing-view">
  <div class="overlay">
    <div class="row cent top">
      <p class="intro">Choices F1 Club</p>
      <p class="mid-intro">
        Formula 1 for the Fans in Kenya
      </p>
      <a href="#"><i class="fa fa-angle-down more" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="know">
  <div class="row">
    <p class="about">
      Who we are
    </p>
    <hr width="60%"/>
    <p class="about-text">
      Choices F1 Club is the premier Formula 1 fans club in Kenya. Passionate fans who meet every race weekend at Choices on Baricho Road.
    </p>
  </div>
</div>
<div class="row">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
