<div class="landing-view">
  <div class="overlay">
    <div id="title" class="row cent top">
      <p id="choices" class="intro animated slideInRight">Choices F1 Club</p>
      <p  id="fans" class="mid-intro animated slideInLeft">
        Formula 1 for the Fans in Kenya
      </p>
      <a href="#about" class="animated slideInUp"><i class="fa fa-angle-down more" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="know animated fadeIn">
  <div class="row">
    <p class="about" id="about">
      Who we are
    </p>
    <hr width="60%"/>
    <p class="about-text">
      Choices F1 Club is the premier Formula 1 fans club in Kenya. Passionate fans who meet every race weekend at Choices on Baricho Road.
    </p>
  </div>
</div>
<div class="perform">
  <div class="overlay">
    <p class="excite"><span class="perform-title">Performance</span><br/>
      That excites!
      <br/>
      <span id="predict" class="animated infinite pulse"><%= link_to " Start Predicting", new_prediction_path, class: "predict fa fa-flag-checkered" %></span>
    </p>
  </div>
</div>
