<div class="landing-view">
  <div class="overlay">
    <div class="row cent top">
      <p class="intro">Choices F1 Club</p>
      <p class="mid-intro">
        Formula 1 for the Fans in Kenya
      </p>
      <a href="#about"><i class="fa fa-angle-down more" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class="know">
  <div class="row">
    <p class="about" id="about">
      Who we are
    </p>
    <hr width="60%"/>
    <p class="about-text">
      Choices F1 Club is the premier Formula 1 fans club in Kenya. Passionate fans who meet every race weekend at Choices on Baricho Road.
    </p>
  </div>
</div>
<div class="perform">
  <div class="overlay">
  </div>
</div>
<div class="know">
  <div class="row">
    <div class="large-4 columns">
      <hr width="55%" class="exc-line"/>
      <p class="excite"><span class="perform-title">Performance</span>
        That excites
      </p>
    </div>
    <div id="predict" class="large-8 columns">
      <%= link_to " Predict & Win", new_prediction_path, id: "predict-btn", class: "button btn-predict fa fa-flag-checkered", remote: true %>
    </div>
    <div id="predict-form"></div>
  </div>
</div>
