// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-view{
  height: 70%;
  background: rgba(255,0,0,0.5);
}
.overlay{
  background: rgba(0,0,0,0.5);
  height: 100%;
}
.logo{
  margin-top: -14px;
}
.white-bg{
  background-color: #fff;
  width:100%;
}
.right-nav{
  text-align:right;
  margin-top: 20px;
  margin-left: -12px;
  text-transform: uppercase;
}
.nav{
  display: inline;
  padding: 10px;
}
.nav-links{
  font-size: 14px;
  color: red;
  border-radius: 5px;
  padding-bottom: 8px;
  padding-top: 8px;

  &:hover{
    color:black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
.cent{
  text-align: center;
}
.intro{
  color: #fff;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 100;
  padding-top: 60px;
}
.mid-intro{
  margin-top: -20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 100;
}
.more{
  border-radius: 50%;
  padding:10px;
  border-bottom:1px solid white;
  border-top:1px solid white;
  margin-top: 10%;
  font-weight: 100;
  font-size: 40px;
  color: #fff;

  &:hover{
    color: rgba(255,0,0,0.4);
    background-color: #fff;
  }
}
.about{
  padding-top: 12px;
  font-size: 40px;
  text-align: center;
  font-weight: 200;
}
.about-text{
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 100;
  text-align: center;
}
