// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-view{
  height: 80%;
  background: url(/img/brazil.jpg);
  background-size:cover;
  background-position: center;
}
.overlay{
  background: rgba(0,0,0,0.5);
  height: 100%;
}
.logo{
  margin-top: -14px;
}
.white-bg{
  background-color: #fff;
  width:100%;
}
.right{
  float:right;
}
.right-nav{
  text-align:right;
  margin-top: 20px;
  margin-left: -12px;
  text-transform: uppercase;
}
.nav{
  display: inline;
  padding: 10px;
}
.nav-links{
  font-size: 14px;
  color: red;
  border-radius: 5px;
  padding-bottom: 8px;
  padding-top: 8px;

  &:hover{
    color:black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
.cent{
  text-align: center;
}
.intro{
  color: #fff;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 100;
  padding-top: 60px;
}
.mid-intro{
  margin-top: -20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 100;
}
.more{
  border-radius: 50%;
  padding:10px;
  border-bottom:1px solid white;
  border-top:1px solid white;
  margin-top: 10%;
  font-weight: 100;
  font-size: 40px;
  color: #fff;

  &:hover{
    color: rgba(255,0,0,0.4);
    background-color: #fff;
  }
}
.know{
  background: rgb(63,55,5);
background: -moz-linear-gradient(45deg, rgba(63,55,5,1) 0%, rgba(74,65,6,1) 12%, rgba(86,75,6,1) 25%, rgba(59,52,5,1) 39%, rgba(37,33,3,1) 50%, rgba(0,0,0,1) 51%, rgba(15,13,1,1) 60%, rgba(35,31,3,1) 76%, rgba(24,21,2,1) 91%, rgba(17,15,1,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(63,55,5,1) 0%,rgba(74,65,6,1) 12%,rgba(86,75,6,1) 25%,rgba(59,52,5,1) 39%,rgba(37,33,3,1) 50%,rgba(0,0,0,1) 51%,rgba(15,13,1,1) 60%,rgba(35,31,3,1) 76%,rgba(24,21,2,1) 91%,rgba(17,15,1,1) 100%);
background: linear-gradient(45deg, rgba(63,55,5,1) 0%,rgba(74,65,6,1) 12%,rgba(86,75,6,1) 25%,rgba(59,52,5,1) 39%,rgba(37,33,3,1) 50%,rgba(0,0,0,1) 51%,rgba(15,13,1,1) 60%,rgba(35,31,3,1) 76%,rgba(24,21,2,1) 91%,rgba(17,15,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3705', endColorstr='#110f01',GradientType=1 );
  color:white;
}
.about{
  padding-top: 52px;
  font-size: 30px;
  text-transform: uppercase;
  color:rgba(255,0,0,0.6);
  text-align: center;
  font-weight: 200;
}
.about-text{
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 100;
  text-align: center;
}
.zero{
  opacity: 0;
}
.form{
  border:1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
padding:20px;
padding-left: 50px;
margin-left: -20px;
margin-right: -20px;
padding-right: 50px;
}
